@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    
</style>

<div class="card construction-notice mb-3">
    <div class="card-header text-center fw-bold">Site Under Construction</div>
    <div class="card-body">
        Thanks for visiting my project portfolio, I am in the process of rebuilding my project
        portfolio (started this on Feb 17th) so pardon my dust. This 6th version project portfolio is being built using
        ASP.NET MVC on .NET 6. It uses Bootstrap 5 for UI elements and a SQL Server backend.
        This site is also hosted via IIS on a old Lenovo ThinkCentre M93p in my closet that
        is running windows 10.
    </div>
</div>