@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my project portfolio</h1>
</div>
<p>
    Thanks for visiting my project portfolio.This 6th version project portfolio
    is being built using ASP.NET MVC on .NET 6. It uses Bootstrap 5 for UI 
    elements and a SQL Server backend. This site is also hosted via IIS on a old 
    Lenovo ThinkCentre M93p in my closet that is running windows 10.
</p>
